.container{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.contain{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-around;

}
.contain img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.cartWithInage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    align-items: center;

}
.cartWithOutInage{
    border: 1px black solid;
    padding: 5px;
    background-color: rgb(240, 240, 240);
    border-radius: 5px;
    width: 300px;
    height: 200px;
    
}
.aa{
    width: 500px;
    background-color: black;
    color: white;
    box-shadow: 15px 15px 20px black;
    border: white 3px solid;
    margin-bottom:50px ;

}
.aa button {
    width: 100%;
}
