*{
   margin: 0;
   padding: 0;
   box-sizing: content-box;
}
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    gap: 10px;
    padding: 50px;



}

.title{
    text-align: center;
    padding-top: 20px;
}
