form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    padding: 30px;
    border:  2px solid rgb(50, 32, 23);
    box-shadow: 10px 10px 20px rgba(226, 221, 221, 0.5);
    background-color: rgb(173, 152, 125, 0.7);   
    border-radius: 10px; 
}
.eroor{
    display: flex;
    flex-direction: column;
    margin-top:30px ;
    gap: 10px;

}
.error{
    width: 300px;
    margin:  auto;
    display: flex;
}
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="email"],
  input[type="password"]{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    width: 93%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
.title{
    text-align: center;
    color: #007bff;
}
.cotain{
    height: 100vh;
    background-image: url(loginImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
