.aa{
    background-color:rgb(84, 111, 122);
    border-radius: 3px;
}
.carticon{
    border: 1px white solid;
    padding: 2px;
    border-radius: 50%;
}
.buttonColor{
    color: white;
    border: white solid;
}
.buttonColor:hover{
    border: white solid;
}
.nav-item{
    color: aqua;
}

.title{
    display: flex;
    gap: 4px;  
    font-family: cursive;  
}
.titleImg{
    width: 50px;
    height: 40px;
    border-radius: 10px;
}